<form>
    <h1>Register</h1>
    <fieldset>
        <h2>Personal Detail</h2>
        <label for="name">Name <sup>*</sup></label>
        <input id="name" name="name"/>
        <label for="dob" name="dob"> Date of Birth<sup>*</sup></label>
        <input id="dob" name="dob" type="date" />
        <label for="nationality" >Nationality<sup>*</sup></label>
        <select id="nationality" name="nationality">
            <option>America</option>
            <option>British</option>
            <option>Canadian</option>
        </select>
    </fieldset>
    <fieldset>
        <h2>Contact Details</h2>
        <label for="email">Email</label>
        <input id="email" name="email" />
        <label for="Mobile">Mobile Number</label>
        <input id="Mobile" name="Mobile" />
        <span>Contact Preference</span>
    </fieldset>
    <button>Submit</button>
</form>
