<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
   <!-- &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
   <!-- <marquee direction="right"> Only you can change your life, no one can do it for you! </marquee> -->
   
    </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav">
          <!-- <img class="avatar mat-elevation-z8" src="logo.png" /> -->
  
          <h3 class="name"> Kautilya </h3>
          <p class="designation">We make your future bright</p>
          
  <mat-divider></mat-divider>
  <!-- <p>hello</p> -->
          <!-- <mat-sidenav class="mat-elevation-z8"> -->
            <button mat-button class="menu-button">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" 
            (click)="goToBatchInfo('../batch-info/')">
              <mat-icon>update</mat-icon>
              <span>Batch_Info</span>
          </button>
          <mat-divider></mat-divider>

            <button mat-button class="menu-button" 
            (click)="goToStdReg('../std-registration/')">
              <mat-icon>person</mat-icon>
              <span>Std_Registration</span>
          </button>
          <mat-divider></mat-divider>
         
            <button mat-button class="menu-button">
                <mat-icon>draw</mat-icon>
                <span>Test</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button">
              <mat-icon>score</mat-icon>
              <span>Test_score</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-button class="menu-button">
            <mat-icon>note</mat-icon>
            <span>Study_material</span>
        </button>
        <mat-divider></mat-divider>
            <button mat-button class="menu-button" 
            (click)="goToAbout('../about-us/')">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
    
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button" >
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" 
            (click)="goToHome('../registration/')">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
          </button>
    
        </mat-sidenav>
  
      <!-- </mat-sidenav> -->
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                Main content here!
               
            </div>
        </mat-sidenav-content>
        
    </mat-sidenav-container>
    
