.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .style{
    font-size: 10px;
    margin-top: 30px;
    min-height: 130px ;
    
  }
  .mat-form-field{
  margin-left:28%;
  margin-top: 2px;
  
  }
  .mat-form-field {
    font-size: 12px;
    width: 50%;
    
  }
  h4{
    text-align: center;
    color: black;
  }