
<h3 class="style" >Coaching Login</h3>
<form class="style" [formGroup]="coachingLogin">
    <div class="form-group">
        <label>Login Id: </label>
        <input type="text" class="form-control" formControlName="loginID" />
    </div>
    <div class="form-group">
        <label>Password: </label>
        <input type="text" class="form-control" formControlName="password" />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" type="submit" (click)="coachingLog()" (click)="goToCoachingHome('./coaching-home')">Submit</button>
        <!-- <a href="./coaching-home">submit</a> -->
          <!-- <a [routerLink]="'/coaching-home'">SUBMIT</a>  -->
      </div>
    </form>