.style{
    font-size: 14px;
    margin-top: 40px;
    min-height: 130px ;
    margin-left:22px ;
    
}
.mat-form-field{
margin-left:15px;
}
.Questionform{
    font-size: 14px;
    margin-top: 10px;
    min-height: 130px ;
    border-radius: 10%;
    box-shadow: 1px;

}
.questionfield{


}
h4{
    text-align: center;
    color: black;
    
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 40%;
  }
  
  td, th {
    width: 25%;
  }
