.style{
    font-size: 12px;
    margin-top: 30px;
    min-height: 130px ;
    
}
.mat-form-field{
margin-left:8px;
}
.Questionform{
    font-size: 12px;
    margin-top: 10px;
    min-height: 130px ;
    border-radius: 10%;
    box-shadow: 1px;

}
.questionfield{
width: 100%;
}
h1{
    text-align: center;
    color: black;
    
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
