<h3 class="style" >Batch Registration</h3>
<form class="style" [formGroup]="batchForm">
    <div class="form-group">
        <label>Batch Name: </label>
        <input type="text" class="form-control" formControlName="batchName" />
    </div>
    <div class="form-group">
        <label>Course Name: </label>
        <input type="text" class="form-control" formControlName="courseName" />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" type="submit" (click)="batchReg()" >Submit</button>
        <!-- <a href="./coaching-home">submit</a> --> -->
          <!-- <a [routerLink]="'/coaching-home'">SUBMIT</a>  -->
      </div>
    </form>