<form>
    <h1>Batch Information</h1>
    <fieldset>
        <h2>Batch Detail</h2>
        <label for="name">Batch Name <sup>*</sup></label>
        <input id="name" name="name"/>
        <label for="name">Batch Time <sup>*</sup></label>
        <input id="time" name="name"/>
        <label for="name">Batch Date <sup>*</sup></label>
        <input id="date" name="name"/>
        <label for="name">Batch Teachers <sup>*</sup></label>
        <input id="teachers" name="name"/>
        <label for="name">Alloted For <sup>*</sup></label>
        <select id="alloted for" name="alloted for">
            <option>Choose course!</option>
            <option>MPPSC</option>
            <option>SSC</option>
            <option>BANKING</option>
            <option>IT</option>
        </select>
        <button (click)="batchReg()">Submit</button>
    </fieldset>
    </form>
